* {
  font-family: Pixel Code;
  background: transparent;
  text-shadow: 2px 2px #280131;
  font-size: 20px;
  border-radius: 10px;
  background: transparent;  
  transition: all 0.2s ease 0s;
  box-shadow: 300px 300px #7b007b5e;
}

#window {
  color: #33003e;
  background-color: #33003e;
  background-clip: content-box; 
  border-color: #ff13ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}
#scroll {
  border: #7b007b solid 3px;
  background-color: #33003e;
  background-clip: content-box;
  scrollbar-color: transparent transparent;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 35px;
  margin-top: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#inner-box {
  background: #33003e;
  padding-top: 10px;
  padding-bottom: 10px;
}
#entry {
  color: #e77dff;
  background-color: #33003e;
  border-color: #280131;
  border-style: solid;
  border-right-width: 3px;
  border-left-width: 1.5px;
  border-top-width: 1.5px;
  border-bottom-width: 3px;
  padding: 5px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
#entry:selected {
  background-color: #4e005f;
  color: #eea4ff;
  text-shadow: 2px 2px #33003e;
  border-color: #7b007b;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  font-weight: bold;
  outline: none;
}

#input {
  color: #e77dff;
  background: #33003e;
  border-color: #660066;
  border-style: solid;
  border-width: 3px;
  font-style: normal;
  margin-right: 35px;
  margin-left: 35px;
  margin-top: 30px;
  padding: 15px;
}
#input:focus {
  background: #4e005f;
  border-color: #7b007b;
  border-style: solid;
  border-width: 4px;
  padding: 15px;
  font-style: bold;
  color: #eea4ff;  
  text-shadow: 2px 2px #33003e;
  outline: none;
}
