* {
  font-family: 'Pixel Code';
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.2s ease 0s;
}

#window {
  background: transparent;
}
#window>box {
  border: 6px solid #ff13ff;
  padding-left: 40px;
  padding-right: 40px;
}
#scroll {
  background: #33003e;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 3px solid #7b007b;
  padding: 1px;
}
#inner-box {
  background: #33003e;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#outer-box {
  background: #33003e;
}
#img {
  margin-right: 10px;
  margin-left: 10px;
}
#entry {
  color: #e77dff;
  border-color: #280131;
  border-style: solid;
  border-right-width: 3px;
  border-left-width: 1.5px;
  border-top-width: 1.5px;
  border-bottom-width: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#entry:selected {
  background: #4e005f;
  color: #eea4ff;
  border: 4px solid #7b007b;
  font-weight: bold;
}

#input {
  background: #33003e;
  color: #e77dff;
  border: 3px solid #7b007b;
  margin-top: 30px;
  padding: 15px;
}
#input:focus {
  background: #4e005f;
  border: 4px solid #7b007b;
  font-style: bold;
  color: #eea4ff;  
  outline: none;
}
