[Unit]
Description=Desktop alert warning about system pacman updates

[Service]
Type=oneshot
# Change username and modify path to script as needed
ExecStart=/home/simonr/.config/swaync/scripts/update-status-sh


[Install]
WantedBy=graphical.target
