* {
  font-family: Pixel Code;
  font-size: 20px;
  transition: 0.3s ease all;
  padding: 2px;
  border-radius: 10px;
  text-shadow: 2px 2px #33003e;
  color: #ff13ff;
  outline: none;
  box-shadow: none;
}
 /*swaync-client --reload-css, swaync-client --reload-config, notify-send -u "message"*/

 /* ----------------------------- Control Center Container -------------------------------- */
 .control-center {
   margin: 10px;
   background-color: #2d002d;
   border: 6px solid #ff13ff;
   min-width: 780px;
 }
 .close-button {
   background: #550000;
   padding: 0;
   min-width: 24px;
   min-height: 24px;
   margin-top: 5px;
   margin-right: 5px;
   border: 3px solid #ff13ff;
 }
 .close-button:hover {
   background: #d10000;
 }
 /* ----------------------------- Widgets ------------------------------------------------- */
.widget-mpris,
 .control-center-list > box > *:not(.widget-title) {
   background-color: #2d002d;
   padding: 18px;
   margin-bottom: 14px;
   border: none;
 }
 .control-center > box > *:last-child { margin-bottom: 0;
}

 /* Widget Titles */
 .widget-title {
   background: #2d002d;
   font-weight: bold;
   border: none;
   padding: 4px 6px 12px 6px;
   margin-bottom: 8px;
 }
 .widget-title label {
   margin-left: 4px;
   background: transparent;
 }
 .widget-title button {
   background-color: #2d002d;
   border: none;
   padding: 7px 16px;
 }
/* --------------------------- MPRIS Widget --------------------------------------------- */
.widget-mpris {
  border: none;
  background: transparent;
}
.widget-mpris .widget-mpris-player {
  background-color: transparent;
  border: 3px solid #ff13ff;
  box-shadow: none;
}
.widget-mpris .widget-mpris-album-art {
  background: #7b007b;
  border: 3px solid #ff13ff;
  border-radius: 100%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.widget-mpris .widget-mpris-title {
  margin-bottom: 4px;
  background: transparent;
}
.widget-mpris .widget-mpris-subtitle {
  background: transparent;
}
.widget-mpris .widget-mpris-player button {
  all: unset;
  background: transparent;
  padding: 7px;
  min-width: 20px;
  min-height: 20px;
}
.widget-mpris .widget-mpris-player button:hover {
  background-color: transparent;
}

 /* ----------------------------- Control Center ------------------------------------------ */
.control-center .notification image {
  margin-right: 12px;
  min-width: 36px;
  min-height: 36px;
}
.notification-group {
  background-color: transparent;
  border: none;
}
.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: 0;
}
.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background-color: #620062;
}
.notification-group.collapsed:hover .notification-row:not(:only-child) .notification.critical {
  background-color: #cb0000;
}
.notification-group-collapse-button {
  background: #2d002d;
  border: 3px solid #ff13ff;
}
.notification-group-close-all-button {
  background: #550000;
  border: 3px solid #ff13ff;
}
.notification-group-collapse-button:hover {
  background: #7b007b;
}
.notification-group-close-all-button:hover {
  background: #cb0000;
}
/* ----------------------------- Notifications ------------------------------------------ */
.floating-notifications .notification-row {
  margin-bottom: 12px;
  min-width: 400px;
}
.floating-notifications .notification-background {
  border: none;
  background: transparent;
}
.floating-notifications .notification .summary {
  font-weight: bold;
  font-size: 20px;
}
.floating-notifications .notification image {
  min-width: 60px;
  min-height: 60px;
  margin-right: 14px;
}
.notification.critical {
  background-color: #550000;
  box-shadow: 1px 1px 6px 3px #2d002d;
}
.notification.critical:hover {
  background-color: #cb0000;
    box-shadow: inset 1px 1px 6px #2d002d;
}
.notification {
  background: #7b007b;
  border: 6px solid #ff13ff;
  box-shadow: 1px 1px 6px 3px #2d002d;
}
.notification:hover {
  background-color: #620062;
  box-shadow: inset 1px 1px 6px #2d002d;
}
.notification-action {
  background: #2d002d;
  border: 2px solid #ff13ff;
}
.notification-action:hover {
  background: #620062;
}
.notification-default-action,
.notification-default-action:hover {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}
