 * {
    font-family: 'Pixel Code';
    border-radius: 10px;
    font-size: 20px;
    background: transparent;
    color: #ff13ff;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 4px 4px #33003e;
}

window#waybar {
    background-color: #33003e;
    border: 3px solid #7b007b;
}

tooltip {
  background: #33003e;
  border: 3px solid #ff13ff;
}

#workspaces,
#tray,
#scratchpad,
#mpris,
#language,
#backlight,
#pulseaudio,
#memory,
#cpu,
#battery,
#bluetooth,
#network,
#clock {
    background-color: #aa005d;
    color:#ff93ce;
    margin-right: 10px;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #ff93ce;
}
#clock:hover {
    background-color: #770c47; 
    color: #ff93ce;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#battery {
    background-color: #aa007a;
    color: #fb72d4;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #fb72d4; 
}
#battery.warning {
    color: #ff8484;
    border-color: #ff8484;
    background-color: #640000;
    font-weight: bold;
}
#battery:hover {
    background-color: #710051;
    color: #fb72d4;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#backlight {
    background-color: #aa0091;
    color:#fe6ee8;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;    
    border: 2px solid #fe6ee8;
}
#backlight:hover {
    background-color: #6d015d;
    color: #fe6ee8;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#pulseaudio {
    background-color: #aa00a7;
    color: #ff74fd;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #ff74fd; 
}
#pulseaudio:hover {
  background-color: rgb(98, 2, 103);
  color: #ff74fd;
  transition-duration: 120ms;
  text-shadow: 2px 2px #33003e;
  font-weight: bold;
}

#bluetooth {
    background-color: #aa005d;
    color:#ff93ce;
    margin-right: 10px;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #ff93ce
}
#bluetooth:hover {
    background-color: #770c47;
    color: #ff93ce;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;    
    font-weight: bold;
}

#network {
    background-color:#aa007a;
    color: #fb72d4;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #fb72d4; 
}
#network.disconnected {
    background-color: #640000;
    color: #ff8484;
    font-weight: bold;
}
#network:hover {
    background-color: #710051;
    color: #fb72d4;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#cpu {
    background-color: #aa0091;
    color: #ff63ed;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #ff63ed; 
}
#cpu:hover {
    background-color: #762059;
    color: #ff63ed;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#memory {
    background-color: #aa00a7;
    color: #ff74fd;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #ff74fd; 
}
#memory:hover {
    background-color: rgb(98, 2, 103); 
    color: #ff74fd;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#language {
    background-color: #9900aa;
    color:#f16eff;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #f16eff
}
#language:hover {
    background-color: #51005a; 
    color: #f16eff;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}


#mpris {
  background-color: #850085;
  color: #ff13ff;
  text-shadow: 2px 2px #33003e;
  transition: all 0.2s ease 0s;
  border: 2px solid #ff13ff; 
}
#mpris:hover {
    background-color: #4f004f;
    color: #ff13ff;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#scratchpad {
    background-color: #33003e;
    border: none;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
    color: #ff13ff;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}
#tray menu {
    background-color: #33003e;
    border: 2px solid #ff13ff;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}
#tray menu menuitem {
    background-color: #600275; 
    border: 2px solid #ff13ff;
}
#tray menu menuitem:hover {
    background-color: #5d1438;
    color: #8c0000;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
}
#tray {
    background-color: #33003e; 
    border: none;
            text-shadow: 2px 2px #33003e;
}

#workspaces {
    background-color: #33003e;
    border: none;
    font-weight: bold;
    color: #740864;
    text-shadow: 2px 2px #33003e;
}
#workspaces button {
    transition-duration: 120ms;
    all: initial;
    min-width: 0px;
    font-weight: bold;
    color: #740864;
    margin-right: 0.5cm;
    margin-left: 0.5cm;
}
#workspaces button.focused{
    color:#740864;
    font-weight: bold;
}
#workspaces button.urgent {
    color: #640000;
}
