 * {
    font-family: 'Pixel Code';
    font-size: 20px;
    border-radius: 10px;
    background: #33003e;
    color: #ff13ff;
    transition-duration: 0.3s;
}

window#waybar {
    background: transparent;
}
window#waybar>box {
    border: 3px solid #7b007b;
    padding: 10px;
}

tooltip {
  background: #33003e;
  border: 3px solid #ff13ff;
}

#workspaces,
#tray,
#scratchpad,
#custom-notification,
#custom-file,
#custom-power,
#custom-apps,
#idle_inhibitor,
#mpris,
#language,
#backlight,
#pulseaudio,
#memory,
#cpu,
#battery,
#bluetooth,
#network,
#clock {
    background-color: #aa005d;
    color:#ff93ce;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #ff93ce;
    padding: 10px;
}
#clock:hover {
    background-color: #770c47;
    color: #ff93ce;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#battery {
    background-color: #aa007a;
    color: #fb72d4;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #fb72d4; 
}
#battery.warning {
    color: #ff8484;
    border-color: #ff8484;
    background-color: #640000;
    font-weight: bold;
}
#battery:hover {
    background-color: #710051;
    color: #fb72d4;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#backlight {
    background-color: #aa0091;
    color:#fe6ee8;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;    
    border: 2px solid #fe6ee8;
}
#backlight:hover {
    background-color: #6d015d;
    color: #fe6ee8;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#pulseaudio {
    background-color: #aa00a7;
    color: #ff74fd;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #ff74fd; 
}
#pulseaudio:hover {
  background-color: rgb(98, 2, 103);
  color: #ff74fd;
  transition-duration: 120ms;
  text-shadow: 2px 2px #33003e;
  font-weight: bold;
}

#bluetooth {
    background-color: #aa005d;
    color:#ff93ce;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #ff93ce;
}
#bluetooth:hover {
    background-color: #770c47;
    color: #ff93ce;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;    
    font-weight: bold;
}

#network {
    background-color:#aa007a;
    color: #fb72d4;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #fb72d4; 
}
#network.disconnected {
    background-color: #640000;
    color: #ff8484;
    font-weight: bold;
}
#network:hover {
    background-color: #710051;
    color: #fb72d4;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#cpu {
    background-color: #aa0091;
    color: #ff63ed;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #ff63ed; 
}
#cpu:hover {
    background-color: #762059;
    color: #ff63ed;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#memory {
    background-color: #aa00a7;
    color: #ff74fd;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #ff74fd; 
}
#memory:hover {
    background-color: rgb(98, 2, 103); 
    color: #ff74fd;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#language {
    background-color: #9900aa;
    color:#f16eff;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #f16eff
}
#language:hover {
    background-color: #51005a; 
    color: #f16eff;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}


#mpris {
  background-color: #850085;
  color: #ff13ff;
  text-shadow: 2px 2px #33003e;
  transition: all 0.2s ease 0s;
  border: 2px solid #ff13ff; 
}
#mpris:hover {
    background-color: #4f004f;
    color: #ff13ff;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}
#mpris.paused {
    color: #ef0000;
    font-weight: bold;
    border-color: #ef0000;
    background-color: #4f004f;
}

#custom-notification {
    background-color: #33003e;
    color: #ff13ff;
    text-shadow: 2px 2px #33003e;
    border: none;
    font-weight: bold;
    font-size: 25px;
}

#custom-apps {
    background-color: #33003e;
    color: #ff13ff;
    text-shadow: 2px 2px #33003e;
    border: none;
}

#custom-file {
    background-color: #33003e;
    color: #ff13ff;
    text-shadow: 2px 2px #33003e;
    border: none;
}

#custom-power {
    background-color: #33003e;
    color: #ff13ff;
    text-shadow: 2px 2px #33003e;
    border: none;
    font-size: 30;
}

#scratchpad {
    background-color: #33003e;
    border: none;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
    color: #ff13ff;
}

#idle_inhibitor {
    background-color: #9c00aa;
    text-shadow: 2px 2px #33003e;
    transition: all 0.2s ease 0s;
    border: 2px solid #f678ff;
    color: #f678ff;
}
#idle_inhibitor:hover {
    background-color: #56005e;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}
#idle_inhibitor.activated {
    background-color: #56005e;
    color: #00ff00;
    border: 2px solid #00ff00;
    transition-duration: 120ms;
    text-shadow: 2px 2px #33003e;
    font-weight: bold;
}

#tray menu {
    background-color: #2d002d;
    border: 2px solid #ff13ff;
    padding: 4px;
}
#tray menu menuitem {
    border: 2px solid #ff13ff;
    margin: 4px;
    padding: 4px;
    opacity: .85;
}
#tray menu menuitem:hover {
    opacity: 100;
    font-weight: bold;
}
#tray {
    background-color: transparent;
    border: none;
}

#workspaces {
    background-color: #33003e;
    border: none;
    font-weight: bold;
    color: #740864;
}
#workspaces button {
    all: initial;
    font-weight: bold;
    color: #740864;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px #120016;
}
#workspaces button.focused{
    color:#740864;
    font-weight: bold;
    text-shadow: 3px 3px #120016;
}
#workspaces button.urgent {
    color: #640000;
}
